#laptopInfoArea {
  visibility: hidden;
}

html * {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 1em;
}

h1 {
  background-color: rgb(66, 66, 66);
  color: white;
  text-align: left;
  padding: 0.25em;
}

img {
  width: 10em;
  height: auto;
  padding: 10px;
  float: left;
}

th {
  text-align: left;
  height: 2em;
  font-size: x-large;
}

td {
  vertical-align: top;
}

table {
  width: 100%;
  height: 100%;
  vertical-align: top;
  table-layout: fixed;
  border-spacing: 1em;
}

.roundedFrame,
.roundedFrameSizeAdj {
  background-color: rgb(252, 249, 243);
  border: 1px solid lightgray;
  border-radius: 21px;
  padding: 1em;
  height: 18em;
}

.roundedFrameSizeAdj {
  height: 21em;
  border: none;
}

button {
  padding: 10px;
  background-color: cornflowerblue;
  border: 1px solid lightgray;
  text-align: center;
  border-radius: 8px;
}

ul {
  font-size: small;
}
